/*---------------MEDIA------------ */

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* .team-item {
    width: calc((100% - 24px) / 2);
  } */
  .menu-open {
    display: none;
  }
  .hero {
    padding-bottom: 108px;
  }
  .overlay {
    max-width: 768px;
    height: 436px;
    background-image: var(--bg-gradient),
      url("../images/people-office-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gradient),
        url(../images/people-office-tablet@2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  /* .team > .container {
    width: 582px;
  } */
  .principles-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .principles-title {
    text-align: left;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .principles-item:not(:last-child) {
    margin-bottom: 0;
  }
  .customers-list {
    column-gap: 24px;
    justify-content: center;
  }
  .customers-item {
    max-width: 168px;
    /* width: calc((100% - 24*2px) / 3); */
  }
  .logo {
    line-height: 1.33;
  }
  .header .logo {
    margin-right: 123px;
  }
  .header {
    padding-bottom: 10px;
  }
  /* -----FOOTER TABLET------- */
  .footer-wrap {
    display: flex;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }
  .input-subscribe-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .modal {
    width: 408px;
  }
  /* -------PORTFOLIO TABLET------ */
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .portfolio-btn {
    padding: 12px 24px;
  }
  .portfolio-fiter-list {
    justify-content: center;
    gap: var(--first-gap);
    margin-bottom: 64px;
  }
  /* PORTFOLIO CARD SET */
  .portfolio-list {
    row-gap: 72px;
    column-gap: var(--first-gap);
  }
  .portfolio-item {
    width: calc((100% - var(--first-gap)) / 2);
  }
  /* PORTFOLIO CARD */
  .card-thumb-text {
    padding: 40px 28px 164px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer > .container {
    width: 582px;
  }
  .footer-wrap {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .overlay {
    max-width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    background-image: var(--bg-gradient),
      url("../images/people-office-desktop.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gradient),
        url(../images/people-office-desktop@2x.jpg);
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .principles-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .principles-item-text {
    font-weight: 400;
  }
  .header {
    padding-bottom: 28px;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .header {
    padding-bottom: 28px;
  }
  .address-list {
    display: flex;
    gap: var(--second-gap);
  }
  .site-nav.list .link.current::after {
    bottom: -32px;
  }
  .header .logo {
    margin-right: 76px;
  }
  .address-mailto,
  .address-tel {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
  }
  /* --------FOOTER DESKTOP--------- */
  .footer-container {
    display: flex;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrap {
    gap: 120px;
  }
  .webstudio-subscribe-overlay {
    margin-left: auto;
  }
  .input-subscribe-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .modal {
    height: 584px;
  }
  /* -------PORTFOLIO DESKTOP------ */
  .portfolio-fiter-list {
    margin-bottom: 72px;
  }
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  /* PORTFOLIO CARD SET */
  .portfolio-list {
    row-gap: 48px;
    column-gap: var(--first-gap);
  }
  .portfolio-item {
    width: calc((100% - 2 * var(--first-gap)) / 3);
  }
  /* PORTFOLIO CARD */
  .card-thumb-text {
    padding: 40px 32px 164px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav.list {
    display: none;
  }
  .address-list {
    display: none;
  }
  .hero-title {
    text-transform: capitalize;
  }
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .title {
    text-align: center;
  }
  .online-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-first-part {
    margin-bottom: 72px;
  }
  .subscribe-input {
    margin-bottom: 16px;
  }
  .footer-first-part {
    margin-left: auto;
    margin-right: auto;
  }
  .webstudio-soc-list {
    margin-bottom: 72px;
  }
  .mob-menu-link.contacts {
    color: #404bbf;
  }
  .portfolio-fiter-list {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: var(--first-gap);
  }
}

@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
  .principles-wrap {
    display: none;
  }
}
