/*---------------MEDIA------------ */

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .menu-open {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* .team-item {
    width: calc((100% - 24px) / 2);
  } */
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .principles-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .principles-title {
    text-align: left;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .principles-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .principles-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .principles-item-text {
    font-weight: 400;
  }
  .header {
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 1199px) {
  .principles-wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
    justify-content: center;
  }
  .customers-item {
    max-width: 168px;
    /* width: calc((100% - 24*2px) / 3); */
  }
  .logo {
    line-height: 1.33;
  }
  .header .logo {
    margin-right: 123px;
  }
  .header {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
  .header {
    padding-bottom: 28px;
  }
  .address-list {
    display: flex;
    gap: var(--second-gap);
  }
  .site-nav.list .link.current::after {
    bottom: -32px;
  }
  .header .logo {
    margin-right: 76px;
  }
  .address-mailto,
  .address-tel {
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .site-nav.list {
    display: none;
  }
  .address-list {
    display: none;
  }
}